//partials
@import 'partials/_clearfix';
@import 'partials/_reset';
@import 'partials/_general_styles.scss';

* {
  box-sizing: border-box;
}


body {
  background: url('../assets/bg.jpg');

  #Title{
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 100%;
    height: 70px;
    background-image: url('../assets/logo.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .TopicDiv{
    display: flex;
    flex-flow: row nowrap;
    justify-content: auto;
  }

  .TopicDiv
  > div{
    flex: 1 1 100%;
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    background-color: #3f3f3f;
    font-family: 'Oswald', sans-serif;
    color: #7e7e7e;
  }

  #content{
    height: 100%;
  }
}